<script setup lang="ts">
import { reactive } from 'vue';
import { player_converter } from './utils.ts';
import * as wasm from 'tic-tac-toc';
import Square from './components/Square.vue';

let state = reactive({
  plays: 0,
  winner: wasm.Player.None,
  player: wasm.Player.O,
  board: [
    wasm.Player.None,
    wasm.Player.None,
    wasm.Player.None,
    wasm.Player.None,
    wasm.Player.None,
    wasm.Player.None,
    wasm.Player.None,
    wasm.Player.None,
    wasm.Player.None,
  ],
});

const play = (id: number) => {
  if (
    state.board[id] === wasm.Player.None &&
    state.winner == wasm.Player.None
  ) {
    state.board[id] = state.player;
    state.player =
      state.player === wasm.Player.O ? wasm.Player.X : wasm.Player.O;
    state.plays++;
    state.winner = wasm.validate_winner(state.plays, state.board);
  }
};

const restart = () => {
  state.player = wasm.Player.O;
  state.plays = 0;
  state.winner = wasm.Player.None;
  state.board = [
    wasm.Player.None,
    wasm.Player.None,
    wasm.Player.None,
    wasm.Player.None,
    wasm.Player.None,
    wasm.Player.None,
    wasm.Player.None,
    wasm.Player.None,
    wasm.Player.None,
  ];
};
</script>

<template>
  <div class="flex flex-col items-center justify-center">
    <div class="py-3">
      <h1 class="text-4xl font-extrabold">Game Tic Tac Toc</h1>
    </div>
    <div class="text-xl">
      <h2>Turn: {{ player_converter(state.player) }}</h2>
    </div>
    <div class="mt-2">
      <div class="flex">
        <Square
          v-for="(player, index) in state.board.slice(0, 3)"
          :id="index"
          :player="player"
          @click="play(index)"
        />
      </div>
      <div class="flex">
        <Square
          v-for="(player, index) in state.board.slice(3, 6)"
          :id="index + 3"
          :player="player"
          @click="play(index + 3)"
        />
      </div>
      <div class="flex">
        <Square
          v-for="(player, index) in state.board.slice(6, 9)"
          :id="index + 6"
          :player="player"
          @click="play(index + 6)"
        />
      </div>
    </div>
    <div class="my-2">
      <div v-if="state.winner != wasm.Player.None">
        <h3 class="text-xl">Won player {{ player_converter(state.winner) }}</h3>
      </div>
      <div v-if="state.winner == wasm.Player.None && state.plays == 9">
        <h3 class="text-xl">Is a draw</h3>
      </div>
      <button
        class="rounded-lg bg-gradient-to-r from-teal-200 to-lime-200 px-5 py-2.5 text-center text-sm font-medium text-gray-900 hover:bg-gradient-to-l hover:from-teal-200 hover:to-lime-200 focus:outline-none focus:ring-lime-200 dark:focus:ring-teal-700"
        @click="restart"
      >
        New game
      </button>
    </div>
  </div>
</template>
