<script setup lang="ts">
import { player_converter } from '../utils.ts';
import * as wasm from '../../../pkg';

const props = defineProps({
  id: { type: Number, required: true },
  player: { type: Number, required: true },
});

const styles = [
  'top-left',
  'top-middle',
  'top-right',
  'middle-left',
  'middle-middle',
  'middle-right',
  'bottom-left',
  'bottom-middle',
  'bottom-right',
];

const validateCss = (id: number) => {
  return styles[id];
};

const id = props.id;
let local_style = validateCss(id);
</script>

<template>
  <div
    :class="[
      local_style,
      player == wasm.Player.None ? 'cursor-pointer' : '',
      player == wasm.Player.O ? 'text-[#c2410c]' : 'text-[#1e40af]',
    ]"
    class="h-[150px] w-[150px] border-[#7CA982] text-center text-[70pt] leading-[150px]"
  >
    {{ player_converter(props.player) }}
  </div>
</template>

<style lang="css" scoped>
.top-left {
  @apply border-b-4 border-r-4;
}

.top-middle {
  @apply border-b-4 border-l-4 border-r-4;
}

.top-right {
  @apply border-b-4 border-l-4;
}

.middle-left {
  @apply border-b-4 border-r-4 border-t-4;
}

.middle-middle {
  @apply border-4;
}

.middle-right {
  @apply border-b-4 border-l-4 border-t-4;
}

.bottom-left {
  @apply border-r-4 border-t-4;
}

.bottom-middle {
  @apply border-l-4 border-r-4 border-t-4;
}

.bottom-right {
  @apply border-l-4 border-t-4;
}
</style>
